form{
    background-color: aqua;
    width: 50%;
    margin: auto;
    padding: 20px;

}
legend{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    padding-bottom: 10px;
}
.b1{
    background-color: chartreuse;
    width: 60px;
    height: 20px;
    color: white;
    border-radius: 5px;


}
.b2{
    background-color: mediumslateblue;
    width: 60px;
    height: 20px;
    color: white;
    border-radius: 4px;

}
.buttons{
    padding-top: 10px;
    margin-left: 100px;

}
input[type=text],input[type=date]{
    border-radius: 5px;
    margin-top: 20px;
    height: 20px;
}


#assnto{
    margin-left: 40px;
    margin-top: 20px;
    height: 20px;
    border-radius: 5px;
}

#prjname{
    margin-left: 25px;
}


#ed{
    margin-left: 55px;
}
#sd{
    margin-left: 50px;
}
#dsc{
    margin-left: 40px;
}
#high{
    margin-left: 70px;
}



